html {
  --primaryBackground: #f3f3f3;
  --primaryTextColor: #000000;
  --secondaryBackgroundColor: rgb(221, 221, 221);
  --secondaryTextColor: rgb(124, 124, 124);
  --primaryAccentColor: rgb(0, 143, 199);
  --secondaryAccentColor: rgb(0, 111, 155);
}

html[data-theme="dark"] {
  --primaryBackground: #000000;
  --primaryTextColor: #ffffff;
  --secondaryBackgroundColor: rgb(34, 34, 34);
  --secondaryTextColor: rgb(230, 230, 230);
  --primaryAccentColor: rgb(255, 172, 19);
  --secondaryAccentColor: rgb(255, 202, 104);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav { 
  height: 100px;
  display: flex;
  box-shadow: black 0 -32px 20px 20px;
  align-items: center;
  background-color: var(--primaryBackgroundColor);
}

.inactive{
  color: var(--secondaryTextColor);
  text-decoration: none;
  display: flexbox;
  align-self: center;
  padding: 30px;
  font-size: large;
  transition-duration: .2s;
  margin:20px;
}

.inactive:hover{
  color: var(--primaryAccentColor);
  border-bottom: 40px solid var(--primaryAccentColor)
}

.active{
  color: var(--primaryAccentColor);
}
